
   
    
  
    <div class="docs-wrapper">
    <div id="docs-sidebar" class="docs-sidebar">
        <div class="top-search-box d-lg-none p-3">
            <form class="search-form">
                <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
                <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <nav id="docs-nav" class="docs-nav navbar">
            <ul class="section-items list-unstyled nav flex-column pb-3">
                <li class="nav-item section-title"><a class="nav-link scrollto active" href="#section-1"><span class="theme-icon-holder mr-2"><i class="fas fa-map-signs"></i></span>Introduction</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-1">Section Item 1.1</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-2">Section Item 1.2</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-3">Section Item 1.3</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-4">Section Item 1.4</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-5">Section Item 1.5</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-6">Section Item 1.6</a></li>
                <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-2"><span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>Installation</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-2-1">Section Item 2.1</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-2-2">Section Item 2.2</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-2-3">Section Item 2.3</a></li>
            </ul>

        </nav><!--//docs-nav-->
    </div><!--//docs-sidebar-->
    <div class="docs-content">
        <div class="container">
            <article class="docs-article" id="section-1">
                <header class="docs-header">
                    <h1 class="docs-heading">Resources</h1>
                    <section class="docs-intro">
                        <p>Below are resources used for this project to implement our advanced features.</p>
                    </section><!--//docs-intro-->
                </header>
                    <section class="docs-section" id="item-2-1">
                    <h2 class="section-heading">Changing the waveform.h</h2>
                    <a href="http://www.daycounter.com/Calculators/Sine-Generator-Calculator.phtm">Sinewave lookup generator used to obtain the values within the corresponding advanced feature</a>
                </section><!--//section-->
                    
                    
                <section class="docs-section" id="item-2-2">
                    <h2 class="section-heading">Key tuning</h2>
                    <a href="https://www.pianoscales.org">Piano Scales, used to implement different keys</a>
                </section><!--//section-->
                    
            </article><!--//docs-article-->
        


            <article class="docs-article" id="section-2">
                <header class="docs-header">
                    <h1 class="docs-heading">Libraries</h1>
                    <section class="docs-intro">
                        <p>Below are libraries used for this project, please check for dependencies .</p>
                    </section><!--//docs-intro-->
                </header>
                    <section class="docs-section" id="item-2-1">
                    <h2 class="section-heading">STM32FreeRTOS.h</h2>
                    <a href="https://github.com/stm32duino/wiki/wiki/Getting-Started">Click to clone the github repository for stm32duino library</a>
                </section><!--//section-->
                    
                    
                <section class="docs-section" id="item-2-2">
                    <h2 class="section-heading">Display messages</h2>
                    <a href="https://github.com/olikraus/U8g2_Arduino">U8g2 graphics library, please click to download </a>
                </section><!--//section-->
                    
                <section class="docs-section" id="item-2-3">
                    <h2 class="section-heading">Other Arduino libraries</h2>
                    <p>Arduino wire library and Arduino string library (printing messages on the display board).</p>
                </section><!--//section-->
            </article><!--//docs-article-->
    
        </div> 
    </div>
</div><!--//docs-wrapper-->
    
   