
   
    
  
    <div class="docs-wrapper">
        <div id="docs-sidebar" class="docs-sidebar">
            <div class="top-search-box d-lg-none p-3">
                <form class="search-form">
                    <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
                    <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <nav id="docs-nav" class="docs-nav navbar">
                <ul class="section-items list-unstyled nav flex-column pb-3">
                    <li class="nav-item section-title"><a class="nav-link scrollto active" href="#section-1"><span class="theme-icon-holder mr-2"><i class="fas fa-map-signs"></i></span>Introduction</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-1">Section Item 1.1</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-2">Section Item 1.2</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-3">Section Item 1.3</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-4">Section Item 1.4</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-5">Section Item 1.5</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-6">Section Item 1.6</a></li>
                    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-2"><span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>Installation</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-2-1">Section Item 2.1</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-2-2">Section Item 2.2</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-2-3">Section Item 2.3</a></li>
                </ul>
    
            </nav><!--//docs-nav-->
        </div><!--//docs-sidebar-->
        <div class="docs-content">
            <div class="container">
                <article class="docs-article" id="section-1">
                    <header class="docs-header">
                        <h1 class="docs-heading">Time analysis </h1>
                        <section class="docs-intro">
                            <p>Initiation intervals were set manually for each task and the maximum execution time was measured by taking 32 separate readings for each task and the average found.</p>
                        </section><!--//docs-intro-->
                    </header>
                        <section class="docs-section" id="item-2-1">
                        <h2 class="section-heading">Initiation Intervals and Maximum Execution Time </h2>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Task</th>
                                <th scope="col">Initiation interval</th>
                                <th scope="col">Maximum Execution Time</th>
                                <th scope="col">Critical Instant Analysis</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                               <td>DisplayUpdateTask</td>
                               <td>100ms</td>
                               <td>101.08ms</td>
                               <td>1</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>MsgOutTask</td>
                                <td>10ms</td>
                                <td>9.48ms</td>
                                <td>10</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>scanKeysTask</td>
                                <td>10ms</td>
                                <td>53.60ms</td>
                                <td>10</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>      
                                <td>DecodeMsgTask</td>
                                <td>5ms</td>
                                <td>4.67ms</td>
                                <td>20</td>
                              </tr>
                            </tbody>
                          </table>
                    </section><!--//section-->
                        
                        
                    <section class="docs-section" id="item-2-2">
                        <h2 class="section-heading">Critical Instant Analysis of Rate Monotonic Scheduler</h2>
                        <p>For a single CPU, the tasks have fixed execution times. The fixed initiation interval for each task is also its deadline. There are no dependencies or switching overheads. The task priority is fixed and the shortest initiation has the highest priority. 0.0
 
                            The worst case is if every task is initiated at the same time. If so the latency is:
                            </p>
                            <p>
                                <em>Ln=100/10 x 9.48 + 100/10 x 53.60 + 100/5 x 4.67 + 100/100 x 101.08</em>
                                <em>Ln=824.2 ms</em>
                            </p>

                    </section><!--//section-->
                        
                </article><!--//docs-article-->
        
            </div> 
        </div>
    </div><!--//docs-wrapper-->
        
       