
   
    
  
    <div class="docs-wrapper">
        <div id="docs-sidebar" class="docs-sidebar">
            <div class="top-search-box d-lg-none p-3">
                <form class="search-form">
                    <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
                    <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <nav id="docs-nav" class="docs-nav navbar">
                <ul class="section-items list-unstyled nav flex-column pb-3">
                    <li class="nav-item section-title"><a class="nav-link scrollto active" href="#section-1"><span class="theme-icon-holder mr-2"><i class="fas fa-map-signs"></i></span>Introduction</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-1">Section Item 1.1</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-2">Section Item 1.2</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-3">Section Item 1.3</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-4">Section Item 1.4</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-5">Section Item 1.5</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-6">Section Item 1.6</a></li>
                    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-2"><span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>Installation</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-2-1">Section Item 2.1</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-2-2">Section Item 2.2</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-2-3">Section Item 2.3</a></li>
                </ul>
    
            </nav><!--//docs-nav-->
        </div><!--//docs-sidebar-->
        <div class="docs-content">
            <div class="container">
                
                <article class="docs-article" id="section-2">
                    <header class="docs-header">
                        <h1 class="docs-heading">Advanced features</h1>
                        <section class="docs-intro">
                            <p>The advanced features are implemented using the knobs, each knob has a function so a Knobs class is used to ensure the code is well-structured and not repetitive. 
                                A scanKnob function is implemented which reads the altered position of the knob. This function accesses KeyArray therefore requires a semaphore to protect against errors. Each scanKnob call is sandwiched between waiting to receive the semaphore and then giving it up after the task is complete.
                                </p>
                                
                        <pre><code>
xSemaphoreTake(volumeMutex, portMAX_DELAY);
knob2.scanKnob();
xSemaphoreGive(volumeMutex);

xSemaphoreTake(pitchMutex, portMAX_DELAY);
knob3.scanKnob();
xSemaphoreGive(pitchMutex);                
                        </code></pre>
                        <img class="logo-icon mr-2" src="assets/images/UMLMusicSynth.svg" alt="logo">

                        </section><!--//docs-intro-->
                    </header>
                        <section class="docs-section" id="item-2-1">
                        <h2 class="section-heading">2.1 Octaves</h2>
                        <p>
                            Using knob3 this feature allows the user to select which octave they wish to play in (The same note shifted one octave up is the same as doubling the frequency of the note). The default octave is 4 (Middle C) and can be changed to be any octave from 0 - 8.

                        </p>
                    </section><!--//section-->
                    
                    <section class="docs-section" id="item-2-2">
                        <h2 class="section-heading">2.2 Frequency shift</h2>
                        <p>
                            This feature mimics the ‘whammy bar’ found on many electric guitars. By using the Y axis of the Joystick the user can shift the note being played by plus or minus a full tone.

                        </p>
                    </section><!--//section-->
                    
                    <section class="docs-section" id="item-2-3">
                        <h2 class="section-heading">2.3 Sustained notes</h2>
                        <p>
                            Most production keyboards come with (or have a purchasable attachment) a sustain pedal, so to implement this feature we made use of the knobs having push feature so that when the user presses the sustain knob, the current note being played is held until another note it played

                        </p>
                    </section><!--//section-->
                    <section class="docs-section" id="item-2-4">
                        <h2 class="section-heading">2.4 Key selection</h2>
                        <p>
                            This feature allows the user to play in whichever key they desire without having to recall the exact notes which exist in that key. By rotating knob 1, key options are cycled through and displayed on the OLED screen. If set to ‘None’ all the notes are assigned as normal, however when set to a certain key, the notes assigned to each key change. For example if the key C minor was selected, the note values would be as in the Figure on the left is in the Cmaj setting and the Figure on the right is the Cmin setting.  The sharp/flat notes are set to not make sounds on this setting.
                          </p>
                          <div class="row">
                            <div class="column">
                                <img src="./../../assets/images/C_minor.JPG" width=80% alt="Keyboard in C Major">
                            </div>
                            <div class="column">
                                <img src="./../../assets/images/c_MINORREAL.JPG"  width=80% alt="Keboard in C Minor">
                            </div>
                          </div>

                          <p>
                            The findNote function will return which key has been pressed and then the correct sound will be indexed from stepSizes depending on the rotation setting of knob1. The limit set on this knob is 14 since there are 14 different keys configured. 
                          </p>
                                 
                        <pre><code>
                            
const uint32_t stepSizes = 0,51076922,54112683,57330004,60740599,64352276,68178701,72231589,76528508,81077269,85899346,91006452,96418111,
    0,51076922,0,57330004,0,64352276,68178701,0,76528508,0,85899346,0,96418111, //Cmaj
    0,51076922,0,57330004,0,60740599,68178701,0,76528508,0,81077269,0,91006452, //Cmin
scanKeysTask (void * pvParameters)
    // other code
    int offset = findNote(keyArray[0],keyArray[1],keyArray[2]);
    int key_sig = knob1.getKnobRotationValue();

    if (localCurrentStepSize != stepSizes[offset + 13*key_sig])
        localCurrentStepSize = stepSizes[offset + 13*key_sig];
        keysChanged = true;
    
    musicNote = notes[offset];
    // other code
                    </code></pre>

                          
                    </section><!--//section-->
                    <section class="docs-section" id="item-2-5">
                        <h2 class="section-heading">2.5 Waveform selection</h2>
                        <p>
                            This feature is implemented using the first knob of the keyboard. Turning the knob ranges from 0-2 and allows the user to select between three different waveforms
                        </p>
                        
                        <ol>
                            <li>Sawtooth - 0
                            </li>
                            <li>Sine - 1</li>
                            <li>Square - 2</li>
                        </ol>  
                        <p>The sawtooth is part of core functionality. The sine wave is implemented using a lookup table and the frequency is managed using the already calculated step sizes and phase accumulator in order to index the table at the correct frequency. The square wave is generated by analogWriting a high (255) and low (0) value depending on the frequency needed which is also decided by the phase accumulator and current step size.
                        </p>
                    </section><!--//section-->
                    
                </article><!--//docs-article-->
                
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task</th>
                        <th scope="col">Method</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Read all knobs</td>
                          <td><ol>
                            <li>Knobs class, scan knob function becomes object oriented
                            </li>
                            <li>Each scanKnob between waiting to receive semaphore and giving it up after taks complete</li>
                            <li>Each knob has its semaphore - concurrency and we can change them at the same time</li>
                          </ol> </td>
                        </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Change Octaves</td>
                        <td>Dynamic variable shift to multiply the note frequency by the current knob rotation
                        Knob3 changes the frequency shift by the current knob value (just read) and updates in the atomic fetch for step size.
                        All done in the same function
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Shift in frequency</td>
                        <td>
                            Y axis of the joystick
                            </td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Sustaining a note</td>
                        <td>The note is not reset to 0 until the knob is released</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Selecting a key</td>
                        <td>Limited to the 14 keys of the bored, use different step sizes depending on current key 
                            <ul>
                            <li>Volatile noteMessage updated in scanKeysTask</li>
                            <li>Add message to queue, printed in serial port (FIFO so updated consistently → size 8 is enough)</li>
                            <li>Semaphore because this knob value read in scanKeys task and in the display </li>
                          </ul></td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Selecting a waveform</td>
                        <td>3 waveforms to output different types of sound<ul>
                            <li>Sawtooth (default)</li>
                            <li>Sine - lookup table </li>
                            <li>Square - analog write high or low</li>
                          </ul></td>
                      </tr>
                    </tbody>
                  </table>
            </div> 
        </div>
    </div><!--//docs-wrapper-->
        
       