
   
    
  
    <div class="docs-wrapper">
    <div id="docs-sidebar" class="docs-sidebar">
        <div class="top-search-box d-lg-none p-3">
            <form class="search-form">
                <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
                <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <nav id="docs-nav" class="docs-nav navbar">
            <ul class="section-items list-unstyled nav flex-column pb-3">
                <li class="nav-item section-title"><a class="nav-link scrollto active" href="#section-1"><span class="theme-icon-holder mr-2"><i class="fas fa-map-signs"></i></span>Introduction</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-1">Section Item 1.1</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-2">Section Item 1.2</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-3">Section Item 1.3</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-4">Section Item 1.4</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-5">Section Item 1.5</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-6">Section Item 1.6</a></li>
                <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-2"><span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down"></i></span>Installation</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-2-1">Section Item 2.1</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-2-2">Section Item 2.2</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-2-3">Section Item 2.3</a></li>
            </ul>

        </nav><!--//docs-nav-->
    </div><!--//docs-sidebar-->
    <div class="docs-content">
        <div class="container">
            
            <article class="docs-article" id="section-2">
                <header class="docs-header">
                    <h1 class="docs-heading">Tasks performed</h1>
                    <section class="docs-intro">
                        <p>Description of each core task performed by the system and their method of implementation, thread or interrupt.</p>
                    </section><!--//docs-intro-->
                </header>
                    <section class="docs-section" id="item-2-1">
                    <h2 class="section-heading">1.1 Playing the correct key</h2>
                    <p>The music synthesiser can play the correct musical tone when a key is pressed. This is implemented in scanKeysTask() where the current state of the multiplexor is read and the currentStepSize variable is updated which determines which tone is played. Since the part which reads the key states is relatively simple, there is no perceivable delay between pressing the key and the tone starting to sound from the speaker.</p>
                </section><!--//section-->
                <img class="logo-icon mr-2" src="assets/images/UMLMusicSynth.svg" alt="logo">
                <section class="docs-section" id="item-2-2">
                    <h2 class="section-heading">1.2 OLED Display</h2>
                    <p>
                        The music synthesiser is able to output certain information on the OLED display such as which note is currently being played. 
                        This is implemented in the displayUpdateTask function. Since scanKeysTask() and displayUpdateTask() both read keyArray. 
                         We have a semaphore ensuring that keyArray is not being simultaneously accessed.
                    
                    </p>
                    <pre><code>
xSemaphoreTake(keyArrayMutex, portMAX_DELAY);
xSemaphoreGive(keyArrayMutex);

uint8_t outValue = (phaseAcc >> 24) >> (8- knob3Position/2);
                        
                    </code></pre>
                    <p>
                        By turning knob 2, the volume of the tones can be adjusted. A default startup value is set to 7 (mid value), and as knob 2 is rotated clockwise the volume increases, and when turned anti-clockwise the volume decreases. There are 17 volume states 0-16,  with the 0 volume state being the muted state. The knob positions are bounded so if the knob continues to be turned at a maximum or minimum volume, the current volume setting is not changed. There is a volumeMutex semaphore because the current position of the knob is also read when updating the OLED display. __atomic_add_fetch is used to ensure that the knobPosition is updated all at once incase of an interrupt. The OLED display shows the current volume setting, this is completed in displayUpdateTake, and reads the position of knob 4, with a mutex to avoid inconsistency.

                    </p>
                </section><!--//section-->
                
                <section class="docs-section" id="item-2-3">
                    <h2 class="section-heading">1.3 Adjust the volume</h2>
                    <p>By turning knob 2, the volume of the tones can be adjusted. A default startup value is set to 7 (mid value), and as knob 2 is rotated clockwise the volume increases, and when turned anti-clockwise the volume decreases. There are 17 volume states 0-16,  with the 0 volume state being the muted state. The knob positions are bounded so if the knob continues to be turned at a maximum or minimum volume, the current volume setting is not changed. There is a volumeMutex semaphore because the current position of the knob is also read when updating the OLED display. __atomic_add_fetch is used to ensure that the knobPosition is updated all at once incase of an interrupt. The OLED display shows the current volume setting, this is completed in displayUpdateTake, and reads the position of knob 4, with a mutex to avoid inconsistency.
                    </p>
                </section><!--//section-->
                <section class="docs-section" id="item-2-4">
                    <h2 class="section-heading">1.4 Serial port communication</h2>
                    <p>
                        When a key is pressed, a message is sent to the serial port which can be viewed on the serial monitor. A volatile noteMessage is updated upon key press in scanKeysTask, noteMessage consists of three characters “xxx”. The first is set as ‘P’ (key pressed) or ‘R’ (key released), the second represents the octave, ranging from 0-8, and the third represents the note as its key number ranging from 0-C. These messages are added to a queue which is printed out in the serial port. This size of the queue is set to 8 as it is assumed that no more than eight keys will be pressed at once.
                    </p>

                    <p>
                        The synthesiser can also create tones via commands on the serial port. Messages sent via the serial port are received and decoded by the decodeMsgTask function. The decodeMsgTask thread must execute at a constant rate, this is set to the sample rate of the keyboard. The initiation interval is set to 50ms. The messages received for the serial port are in the same format as those that are sent from the keyboard: “xxx”. To play a note the message is in the form “Pxy”, where x is the octave and y is the note number in hexadecimal form representing the number of semitones the note is above C. To release a note the message is in the form “Rxy”, where x and y are ignored and the currentStepSize volatile is set to 0.
                    </p>
                    
                    <pre><code>
vTaskDelayUntil(&xLastWakeTime, xFrequency);
                                               
                     </code></pre>
                </section><!--//section-->
            </article><!--//docs-article-->
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Method</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Plays correct musical tone when key is pressed</td>
                    <td>scanKeysTask() <strong>thread</strong> <ul>
                        <li>reads multiplexor </li>
                        <li> updates currentStepSize volatile using a local variable </li>
                      </ul>
                        </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>OLED display - note played, volume</td>
                    <td>displayUpdateTask() <strong>thread</strong>
                        Semaphore for KeyArray to protect concurrency between scanKeysTask and displayUpdateTask
                        </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Adjust volume with knob2</td>
                    <td><ul>
                        <li>Semaphore for concurrency between functions writing or reading the knob at the same time </li>
                        <li>Atomic fetch to update knob position 1</li>
                        <li>Special case to update knob+2 instead of 1 when turn the knob fast</li>
                      </ul></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Send message to serial port on keypress event</td>
                    <td>Format xxx - keypressed, keyreleased, octave
                        <ul>
                        <li>Volatile noteMessage updated in scanKeysTask <strong>thread</strong></li>
                        <ul><li>Please see"Threads and interrupt" section for simultaneous access to noteMessage variable</li></ul>
                        <li>Add message to queue, printed in serial port (FIFO so updated consistently → size 8 is enough)</li>
                      </ul></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Create tones via the serial port</td>
                    <td>Input messages decoded by decodeMsg() <strong>thread</strong><ul>
                        <li>Thread to execute at constant rate = keyboard sample rate</li>
                      </ul></td>
                  </tr>
                </tbody>
              </table>
        </div> 
    </div>
</div><!--//docs-wrapper-->
    
   